@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap');

:root {
  --font: 'Poppins', sans-serif;
  --color: rgb(112, 247, 179);
  --bg-color: white;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: var(--font);
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: var(--bg-color);
  background-image: url(img/bg.webp);
}

.swiper {
  width: 100%;
  /* margin-bottom: -15rem; */
}

.swiper-wrapper {
  width: 100%;
  height: 35em;
  display: flex;
  align-items: center;

}

.card {
  width: 20em;
  height: 90%;
  background-color: white;
  border-radius: 2em;
  box-shadow: 0 0 2em rgba(0, 0, 0, 0.2);
  padding: 2em 1em;
  display: flex;
  align-items: center;
  flex-direction: column;
  margin: 0 2em;
}

.swiper-slide:not(.swiper-slide-active) {
  filter: blur(1px);
}

.card_image {
  width: 10em;
  height: 10em;
  border-radius: 50%;
  border: 5px solid var(--color);
  padding: 3px;
  margin-bottom: 2em;
}
.card_image img {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  object-fit: cover;
}

.card_content {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.card_tittle {
  font-size: 1.5rem;
  font-weight: 500;
  position: relative;
  top: 0.2em;
}

.card_name {
  color: var(--color);
}
.card_text {
  text-align: center;
  font-size: 1.1rem;
  margin: 1em 0;
}
.card_btn {
  background-color: var(--color);
  color: rgb(254, 255, 255);
  font-size: 1rem;
  text-transform: uppercase;
  font-weight: 600;
  border: none;
  padding: 0.5em;
  border-radius: 0.5em;
  margin-top: 0.5em;
  cursor: pointer;
}

h1 {
  font-size: 1em;
  color: var(--color);
}

.footer {
  margin-top: 10px;
}

.footer p {
  font-size: 1rem;
  font-weight: 500;
}
